<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: head"/>
<body>
    <nav th:replace="layouts :: navbar"/>

    <br>

    <div class="container">
        <form th:action="@{/projects/save}" method="post" th:object="${project}" >

            <!-- This will be used to bind to the project clicked (USED FOR UPDATES)-->
            <input type="hidden" th:field="*{projectId}">

            <div class="form-group row">
                <input class="form-control" type="text" placeholder="Project Name" th:field="${project.name}">
            </div>

            <br>


            <div class="form-group row">
                <select class="form-select" th:field="${project.stage}">
                    <option th:value="NOTSTARTED" > Not Started </option>
                    <option th:value="INPROGRESS"> In Progress </option>
                    <option th:value="COMPLETED"> Completed </option>
                </select>
            </div>

            <br>

            <div class="form-group row">
                <textarea class="form-control" th:type="text" placeholder="Enter Project Description"
                          th:field="${project.description}"></textarea>
            </div>

            <br>

            <div class="form-group row">
                <select class="form-select" th:field="*{employees}" multiple="multiple">
                    <option th:each="employee : ${allEmployees}" th:value="${employee.employeeId}"
                            th:text="${employee.firstName}"/>
                </select>
            </div>

            <br>

            Project Start Date:
            <div class="form-group row">
                <input id="dp3" type="date" class="mb-4 col-2 col-xs-4" value="Start Date" th:field="*{startDate}">
            </div>

            <br>

            Project End Date:
            <div class="form-group row">
                <input id="dp4" type="date" class="mb-4 col-2 col-xs-4" value="Start Date" th:field="*{endDate}">
            </div>

            <!--<script type="text/javascript">
                $('#dp3').datepicker();
                $('#dp4').datepicker();
            </script>-->

            <br>

            <button type="submit" class="btn btn-info col-2">Save Project</button>

        </form>
    </div>
</body>
</html>
